.user-info {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  justify-content: center;
  margin-bottom: 100px;
}

.flight-card,
.vehicle-card,
.shipping-history {
  margin: 20px;
  height: 160px;
  width: 300px;
  background-color: #80e2ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flight-card:hover,
.vehicle-card:hover,
.shipping-history:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}
.user-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-card {
  margin: 20px;
  padding: 10px;
  height: 380px;
  width: 400px;
  background-color: #80e2ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: center;
}

.user-image {
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.card-header {
  margin: 5px;
}

.total-carbon-result > h1 {
  font-weight: bold;
  margin-top: 30px;
}

.flight-carbon-result,
.shipping-carbon-result,
.vehicle-carbon-result,
.electricity-carbon-result {
  margin-bottom: 20px;
  width: 50%;
}

.total-user-emission {
  font-size: 3rem;
  margin-top: 10px;
}

.carbon-breakdown-container {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.carbon-emission-container {
  display: flex;
  width: 700px;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carbon-breakdown-title {
  margin-bottom: 10px;
}

.carbon-breakdown-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
}

.results-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.results-column {
  display: flex;
  flex-direction: column;
}
